<div style="text-align:center">
  <h1>Loan Application Form</h1>
</div>
<div style="text-align:center">
  <div>
    <h2><u>Personal Details:</u></h2>
    <h4>First Name: <input [(ngModel)]="loan.firstName" /></h4>
    <h4>Last Name: <input [(ngModel)]="loan.lastName" /></h4>
    <h4>Phone Number: <input [(ngModel)]="loan.phoneNumber" /></h4>
    <h4>Email: <input [(ngModel)]="loan.email" /></h4>
  </div>
  <div>
    <h2><u>Employment Details:</u></h2>
    <h4>Employment Type: <input [(ngModel)]="loan.employmentType" /></h4>
    <h4>Company Name: <input [(ngModel)]="loan.companyName" /></h4>
    <h4>Purpose For Loan: <input [(ngModel)]="loan.purposeForLoan" /></h4>
    <h4>Loan Amount: <input [(ngModel)]="loan.loanAmount" /></h4>
  </div>
</div>
<div style="text-align:center">
  <button type="submit" (click)="createLoan(loan)">Generate Loan</button>
</div>